@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    font-family: "Lexend", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    flex: 1; /*Grow to fill available space */
    display: flex; /* Nested flexbox for content alignment */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
  }
  
  #question {
    /* margin-bottom: 20px; */
    font-size: 2rem;
    text-align: center;
  }

  .questionp{
    margin-bottom: -0.05rem;
  }

  .smalltext{
    font-size: 1rem;
    color: #4d4d4d;
    margin-bottom: 15px;
    text-align: center;
  }

  .img1{
    filter: invert(0.000000001%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(100%);
    position: fixed;
    z-index: -1;
    width: 23rem;
    color: #d6d6d6;
  }

  #score{
    font-size: medium;
    margin-bottom: 0.4rem;
  }
  
  #input-container {
    margin-bottom: 20px;
    border: none;
  }
  
  #guess {
    padding: 15px;
    width: calc(100% - 33px); /* Adjust width to accommodate the button */
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 1.2rem;
  }
  
  #submit {
    padding: 8px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: calc(100%); /* Adjust width to accommodate the text box */
    border-radius: 1rem;
    padding: 13px;
    font-family: "Lexend", sans-serif;
    font-size: 1.1rem;
  }
  
  #submit:hover {
    background-color: #4d4d4d;
    transition: 0.5s;
  }
  
  #result {
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
  }

  .inp{
    font-size: 1.1em;
    font-family: "Lexend", sans-serif;
    /* border-color: rgb(201, 201, 201); */
  }
  
@media screen and (max-width: 400px) {
    header{
        font-size: 0.75rem;
        text-align: center;
    }

    #question {
        font-size: 1.5rem;
        text-align: center;

    }

    .img1{
      width: 12rem;
    }

    #result {
      font-size: 1em;
      text-align: center;
      font-weight: 500;
    }

    .smalltext{
      font-size: 0.75rem;
    }
    
}

@media screen and (max-width: 702px) {
  .img1{
    width: 20rem;
  }

  #question{
    font-size: 1.75rem;
  }
}